<div draggable="false" ngClass="{{dragAreaClass}}">
    <div class="row">
        <div class="col-sm-12">
            <a href="javascript:void(0)" (click)="file.click()">
                <b>Click to browse</b>
            </a>
            Or Drag & Drop to upload your files,
            Click on files below to add to page
            <input name="fileUpload" type="file"
                   #file
                   id="UploadInfo"
                   value=""
                   [multiple]="(maxFiles > 1)"
                   (change)="fileCheck($event)"
                   class="bg_lightgreen"
                   required
                   style="display:none;" /><br /><br />
            <input type="button" id="startUploadButton" class="hidden" (click)="upload_images()" value="Start upload"><br />
        </div>
    </div>
    <div class="row">
        </div><div class="col-sm-12">
            <div class="hidden" id="userImageContents"></div>
    </div>
</div>

<div class="row error" *ngIf="errors.length > 0">
    <ul>
        <li *ngFor="let err of errors">{{err}}</li>
    </ul>
</div>
