<div class="videoplayer_buttons row">
  <div id="player_cut_begin" class="col-md-1 icon_smaller icmn-arrow-left"></div>
  <div id="player_cut_end" class="col-md-1 icon_smaller icmn-arrow-right"></div>
  <div id="player_volume_down" class="col-md-1 icon icmn-volume-decrease"></div>
  <div id="player_volume_up" class="col-md-1 icon icmn-volume-increase"></div>
  <div id="player_volume_mute" class="col-md-1 icon icmn-volume-mute2"></div>
  <div id="player_begin" class="col-md-1 icon icmn-first"></div>
  <div id="player_back" class="col-md-1 icon icmn-backward2"></div>
  <div id="player_play" class="col-md-1 icon icmn-play4"></div>
  <div id="player_pause" #btnPause (click)="player_pause()" class="col-md-1 icon icmn-pause2"></div>
  <div id="player_forward" class="col-md-1 icon icmn-forward3"></div>
  <div id="player_last" class="col-md-1 icon icmn-last"></div>
  <div id="player_enlarge" class="col-md-1 icon icmn-enlarge"></div>
</div>