
<div class="table" style="width:100%;">
  <div class="row table-row" id="row">
    <div id="index" class="col_left">
      <app-cms-list (editPageEvent)="showEditUs($event)" (createNewPageEvent)="createNewPage($event)"></app-cms-list>
    </div>
    <div class="col_right" id="fieldRight">
      <div id="div_edit_page" class="border border-light rounded">
        <div class="hidden messages" id="messagesAlert">
          <h4>System report:</h4>
        <div *ngFor="let message of _messageService.messages">
            <div class="row">
              <div (click)="_messageService.closeMessageAlert()" class="close float_r" title="Close Alert"><span class="icomoon icmn-cancel-square"></span></div>
              <div class="alert" role="alert">{{ message }}</div>
            </div>
            </div>
          </div>
        <div>
          <app-cms-tabs></app-cms-tabs>
          <app-cms-edit [parent]="this._cmsService.pageSelected.parent"
              (destroyPageEvent)="destroyPage($event)"
              (updatePageEvent)="updatePage($event)"
              (toggleCreateNew)="toggleCreateNewz($event)"
              [createNew]="createNew"
              >
          </app-cms-edit>
        </div>
      </div>
    </div>
    <br class="clear" />
  </div>
</div>
