<ul
  cdkDropList
  class="level{{ classLevels[tableLevel - 1] }} turowlink table rowul_{{
    currentPage._id
  }}"
  id="rowul{{ currentPage._id }}"
  (cdkDropListDropped)="onDrop($event)"
  [style.display]="_userService.isUserLoggedIn == true ? '' : 'none'"
>
  <li
    cdkDrag
    class="trow_{{ bpage.parent }} turwlink trow_{{ bpage._id }} table-row {{
      b % 2 == 0 ? 'bg_grey' : 'bg_white'
    }}"
    *ngFor="let b = index; let bpage; of: cmsPages"
    id="rowli_{{ bpage._id }}"
    data-kids="off"
    [attr.data-kids]="getDataKids(bpage)"
    dir="{{ bpage.parent }}"
    [cdkDragData]="bpage"
  >
    <div
      id="tabrowdl_{{ bpage._id }}"
      class="level{{ classLevelsmall[tableLevel] }} tabrowdl {{
        bpage._id == _cmsService.pageSelected._id ? 'active' : ''
      }} {{
        _cmsService.treelevels.length > 2 &&
        _cmsService.treelevels[1]._id == bpage._id &&
        bpage._id != _cmsService.pageSelected._id
          ? 'bactive'
          : ''
      }}"
    >
      <span
        [style.display]="_userService.isUserLoggedIn == true ? '' : 'none'"
        class="hidden table-cell col-sm-1 dnd {{
          userlogin == true && bpage.parent == _cmsService.pageSelected._id
            ? ' icmn-arrow-resize8'
            : ' icmn-arrow-resize7'
        }}"
      ></span>
      <span
        class="table-cell col-sm-1 Visibility icon {{
          bpage.visible == true ? 'icmn-lamp8' : 'icmn-lamp7'
        }}"
        title="{{ bpage.visible == true ? 'On' : 'Off' }}"
        id="visibility_{{ bpage._id }}"
      ></span>
      <span
        class="table-cell col-sm-1 Security hidden {{
          bpage.secure == true ? 'icmn-link4' : 'icmn-unlink4'
        }}"
        id="published_{{ bpage._id }}"
      ></span>
      <span
        class="table-cell col-sm-1 {{
          bpage.kids > 0 && bpage.title != 'Website'
            ? 'icmn-arrow-right5'
            : 'icmn-arrow-down5'
        }}"
        title="{{ bpage.kids }}"
        id="rowchild_{{ bpage._id }}"
      ></span>
      <span
        class="table-cell col-sm-1 hidden letter"
        title="{{ classLevels[tableLevel - 1] }}"
        >{{ tableLevel + 1 }}</span
      >
      <span
        class="table-cell col-sm-1 Checkboxes"
        id="chkpar{{ bpage._id }}"
        title="{{ currentPage._id }}"
        ><input
          class="checkbox chklevel{{ classLevels[tableLevel - 1] }}
          {{ bpage.secure == true ? 'disabled' : '' }}"
          type="checkbox"
          id="chk_{{ bpage._id }}"
          value="1"
          title="{{ currentPage._id }}"
          (click)="_cmsService.listCheckboxCount('chk_' + bpage._id)"
        />
        &nbsp;
      </span>
      <a
        (click)="_cmsService.listlink(bpage)"
        id="tabrowl_{{ bpage._id }}"
        class=" tabrowl table-cell mybuttonz col-sm-6 kid{{
          bpage.treelevel
        }} indent_{{ tableLevel - 1 }}"
        title="{{
          bpage.kids > 0 ? bpage.kids + ' items under ' + bpage.title : ''
        }}"
        ><span
          *ngIf="_cmsService.filterFull.length > 0"
          title="{{ currentPage.title }}"
          class="hidden"
        >
          <span *ngFor="let prop of _cmsService.filterFull">
            <span
              *ngIf="
                bpage._id == _cmsService.pageSelected._id && bpage.kids > 0
              "
              class="ucfirst smalltxt"
              >{{ prop.pname != undefined ? prop.pname + " | " : "" }}</span
            >
          </span>
        </span>
        <span *ngIf="searchObjectFilter(bpage) != -1">
          <span *ngFor="let prop of _cmsService.filterObjectFullPage">
            <span
              class="ucfirst smalltxt"
              *ngIf="prop.objectType == bpage.objectType"
              >{{
                bpage.schemaextend && bpage.schemaextend[0][prop.pname]
                  ? bpage.schemaextend[0][prop.pname] + " | "
                  : ""
              }}</span
            >
          </span>
        </span>
        {{ bpage.title | slice : 0 : 36 }}

        <span
          *ngIf="
            (bpage.objectType == '5bf9d60fe2776742d80831e5' ||
              bpage.objectType == '5c0114dc962a560534e3e576' ||
              bpage.objectType == '5bf9d60fe2776742d80831e5') &&
            bpage.parent != '5a3cf9378e89191f15ed348f' &&
            bpage.kids == 0 &&
            _cmsService.listAutoImage == true
          "
          ><img
            class="listImages hidden"
            src="/api/assets/content/{{ bpage._id }}/thumb.jpg"
            alt=""
            width="120"
        /></span>
        <span class="float_r iconLetter" id="rowcell_{{ bpage._id }}">{{
          bpage.kids > 0 ? bpage.kids : ""
        }}</span>
      </a>
    </div>
    <app-cms-tablerow
      [currentPage]="bpage"
      [userlogin]="userlogin"
      [ParentPage]="ParentPage"
      [cmsPages]="bpage.cmsSubPages"
      [tableLevel]="tableLevel + 1"
    >
    </app-cms-tablerow>
  </li>
</ul>
