.imgmenu li {
  padding: 0px;
  display: inline-block;
  border-radius: 6px 6px 0px 0px;
  margin: 0px 10px 0px 0px;
}

.imgmenu .levelA li {
  border: 0px;
}

.imgmenu li:hover > a {
  color: #ffffff;
  background-color: #0d60f1;
  border-left: 1px solid #0d60f1;
  border-right: 1px solid #0d60f1;
  border-top: 1px solid #0d60f1;
  border-bottom: 1px solid #0d60f1;
}

.imgmenu .levelA li .active {
  background-color: #dc3545;
  color: #ffffff;
}

.imgmenu a {
  border-radius: 6px 6px 0px 0px;
  margin: 0px;
  padding: 9px 12px 7px 12px;
  text-align: center;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #ffffff;
  font-weight: normal;
  color: #0d60f1;
  background-color: #ffffff;
  cursor: pointer;
  display: block;
}

.imgmenu .icon_letter {
  font-size: 2.4em;
  font-weight: bold;
  padding: 4px 0px 8px 0px;
  display: block;
}

.imgmenu li .icon_fix {
  margin: -10px 0px 0px 0px;
}

.imgmenu .levelA {
  margin: -3px 0px 0px 0px;
  padding: 0px;
  display: none;
  position: absolute;
  z-index: 300000;
  border-radius: 0px 0px 6px 6px;
  background-color: #efefef;
  transition: border-color ease-in-out 0.55s, box-shadow ease-in-out 0.55s;
}

.imgmenu .levelA {
  min-width: 160px;
}

.imgmenu li:hover > .levelA {
  display: block;
}

.imgmenu .levelA li {
  display: block;
  margin: 0px;
  padding: 0px;
  width: auto;
}

.imgmenu .levelA .last-child {
  border-radius: 0px 0px 6px 6px;
}

.imgmenu .levelA li a {
  border: 0px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  background-color: #0d60f1;
  border-radius: 0px;
  padding: 10px 4px 10px 12px;
  display: block;
  border-bottom: 1px solid #cccccc;
  width: auto;
  font-size: 0.9em;
}

.imgmenu .levelA li:hover > a {
  background-color: #dc3545;
  color: #ffffff;
}

.imgmenu .levelB {
  display: none;
  position: absolute;
  left: 100%;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 6px 0px;
  min-width: 240px;
  margin: -41px 0px 0px 0px;
  transition: border-color ease-in-out 0.55s, box-shadow ease-in-out 0.55s;
  border: 0px;
  background-color: #0d60f1;
}

.imgmenu .levelB select {
  float: right;
}

.imgmenu .levelC {
  display: none;
  position: absolute;
  left: 100%;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 6px 0px;
  min-width: 200px;
  margin: -41px 0px 0px 0px;
  transition: border-color ease-in-out 0.55s, box-shadow ease-in-out 0.55s;
  border: 0px;
  background-color: #0d60f1;
}

.imgmenu .select_small {
  float: right;
  margin: 4px 0px 0px 0px;
}

.imgmenu .input_small {
  width: 103px;
  height: 27px;
  margin: 4px 0px 0px 0px;
}

.imgmenu .slider_small {
  width: 111px;
  height: 32px;
}

.imgmenu .text_small {
  width: 104px;
  height: 31px;
}

.imgmenu .div_small {
  width: 115px;
}

.imgmenu label {
  float: left;
  display: inline;
  color: #ffffff;
}

.imgmenu .checkbox_small {
  width: 32px;
  height: 32px;
}

.imgmenu .levelA {
  min-width: 160px;
}

.imgmenu .more {
  font-size: 1.6em;
  margin-right: 4px;
  margin-top: -1px;
}

.imgmenu li:hover > .levelA {
  display: block;
}

.imgmenu .levelA li:hover > .levelB {
  display: inline-block;
  position: absolute;
}

.imgmenu .levelB li:hover > .levelC {
  display: inline-block;
  position: absolute;
}

.imgmenu li:hover > a .icmn-arrow-right5:before {
  content: "\edc9";
}

.imgmenu .levelA li:hover > a .icmn-arrow-down5:before {
  content: "\edc8";
}

.imgmenu ul {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  text-align: left;
  list-style: none;
}

body .imgmenu li div [title]:hover:after {
  content: attr(title);
  padding: 5px;
  font-size: 0.8em;
}

body .home,
body .imgmenu .icmn-file-plus,
body .imgmenu .icmn-cog2,
body .imgmenu .icmn-file-text {
  margin: 0px 0px 0px 0px;
  display: inline-block;
}

body .imgmenua {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #ffffff;
  border-radius: 6px 6px 0px 0px;
  padding: 0px;
  margin: 0px 10px 0px 0px;
  text-align: center;
  background-color: #f5f5f5;
  min-height: 48px;
}

.button_small {
  font-size: 12px;
  text-align: left;
}

@media screen and (max-device-width: 1000px) {
  .imgmenu a {
    padding: 9px 12px 8px 12px;
  }
}
