.video_buttons {
  margin: 0px 0px 10px 0px;
  padding: 0px 20px 0px 20px;
  color: #ffffff;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0px 0px 6px 6px;
  justify-content: space-between;
}

.video_buttons span {
  font-size: 2.5em;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
}

.video_buttons span:hover {
  color: #d00000;
}

#player_favorite,
#player_lastplay {
  font-size: 2.1em;
}

body .videoplayer_buttons {
  margin: -4px 0px 0px 0px;
}

.videoplayer_buttons .icon {
  font-size: 2.4em;
  text-align: center;
  color: #337ab7;
  cursor: pointer;
  padding: 0px;
  background-color: #cccccc;
  padding: 3px 0px 4px 0px;
  height: 38px;
}

body .videoplayer_buttons .icmn-mouse {
  font-size: 1.9em;
  padding: 7px 0px 5px 0px;
  height: 38px;
}

body .videoplayer_buttons .body .col_right .nav-tabs {
  color: #d00000;
}

body .videoplayer_buttons .icmn-arrow-left,
body .videoplayer_buttons .icmn-arrow-right {
  font-size: 1.6em;
  padding: 9px 0px 5px 0px;
  height: 38px;
}

body .videoplayer_buttons .icmn-last,
body .videoplayer_buttons .icmn-first {
  font-size: 2.2em;
  padding: 4px 0px 5px 0px;
  height: 38px;
}

body .videoplayer_buttons .icmn-stop2 {
  font-size: 2.2em;
  padding: 5px 0px 5px 0px;
  height: 38px;
}

body .videoplayer_buttons .icmn-pause2 {
  font-size: 2.2em;
  padding: 4px 0px 5px 3px;
  height: 38px;
}

body .icmn-triangle3:before {
  content: "\ee6b";
}

body .icmn-triangle3 {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari 3-8 */
  transform: rotate(90deg);
  font-size: 0.9em;
}

body .icmn-triangle4:before {
  content: "\ee6b";
}

body .icmn-triangle4 {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari 3-8 */
  transform: rotate(180deg);
  font-size: 0.9em;
}

body .videoplayer_buttons .icmn-play4 {
  font-size: 2.2em;
  padding: 4px 0px 5px 3px;
  height: 38px;
}

body .videoplayer_buttons .icmn-enlarge {
  font-size: 1.5em;
  padding: 8px 0px 5px 0px;
  height: 38px;
}

body .videoplayer_buttons .icmn-heart5 {
  font-size: 1.72em;
  padding: 8px 0px 5px 0px;
  height: 38px;
}

.videoplayer_buttons .icmn-volume-increase,
.videoplayer_buttons .icmn-volume-decrease,
.videoplayer_buttons .icmn-volume-mute2,
.videoplayer_buttons .icmn-volume-mute5,
.videoplayer_buttons .icmn-volume-medium {
  font-size: 1.9em;
  padding: 6px 0px 5px 0px;
  height: 38px;
}

.videoplayer_buttons .icon_smaller {
  font-size: 1.9em;
  color: #337ab7;
  margin: 0px 0px 0px 0px;
  text-align: center;
  background-color: #cccccc;
  padding: 6px 0px 8px 0px;
  height: 38px;
}

.videoplayer_buttons .icon:hover,
.videoplayer_buttons .icon_smaller:hover {
  color: #d00000;
  cursor: pointer;
  background-color: #ffffff;
}

body .mediaInfo,
body .deleteMediaImg,
body .mediaFav,
body .mediaMenu {
  margin: -38px 0px 0px 0px;
}

#player_volumedecrease,
#player_volumeincrease {
  display: none;
}
@media screen and (max-device-width: 1000px) {
  .video_buttons span {
    font-size: 2em;
    margin: 0px 8px 10px 8px;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
  }

  #player_favorite,
  #player_lastplay {
    font-size: 1.7em;
  }

  .video_buttons {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 8px 0px;
    text-align: center;
  }

  #player_hideshowbutton,
  #player_volumedecrease,
  #player_volumeincrease {
    display: none;
  }

  .button2 {
    margin: 0px 5px 10px 0px;
  }
}
