<ul cdkDropList
     class="levelD turowlink table rowul_{{currentPage._id}}"
     (cdkDropListDropped)="onDrop($event)"
     >
    <li cdkDrag *ngFor='let d = index, let dpage of ( cmsPages | filter : (_cmsService.treelevels.length == 3 &&  _filterService.filterText) | firstletter : (_cmsService.treelevels.length == 3 && _filterService.filterFirstletter)    )'
        id="rowli_{{dpage._id}}"
        data-kids="off"
        scope="rowD"
        dir="{{ dpage.parent }}"
        class="turwlink trow trow_{{ dpage.parent }} table-row {{ d%2 == 0 ? 'bg_darkgrey' : 'bg_white' }}"
        [cdkDragData]="dpage"
        (onDropSuccess)="_cmsService.onMoveb(dpage, d)">
        <div id="tabrowdl_{{dpage._id}}" class="tabrowdl {{ dpage._id == _cmsService.pageSelected._id ? 'active' : '' }} {{ _cmsService.treelevels.length > 2 && _cmsService.treelevels[2]._id == dpage._id && dpage._id != _cmsService.pageSelected._id ? 'bactive' : '' }}">
            <span [style.display]="_userService.isUserLoggedIn == true ? '' : 'none'" class="hidden table-cell col-sm-1 dnd icon handle {{ userlogin == true && dpage.parent == _cmsService.pageSelected._id ? ' icmn-arrow-resize8' : ' icmn-arrow-resize7' }}"></span>
            <span class="table-cell col-sm-1 Visibility icon {{ dpage.visible == true ? 'icmn-lamp8' : 'icmn-lamp7' }}" title="{{ dpage.visible == true ? 'On' : 'Off' }}" id="visibility_{{dpage._id}}"></span>
            <span class="table-cell col-sm-1 Security hidden {{ dpage.secure == true ? 'icmn-link4' : 'icmn-unlink4' }}" id="published_{{dpage._id}}"></span>
            <span class="table-cell col-sm-1 {{ dpage.kids > 0 ? 'icmn-arrow-right5' : 'icon' }}" title="{{dpage.kids}}" id="rowchild_{{dpage._id}}"></span>
            <span class="table-cell col-sm-1 hidden letter" title="D">4</span>
            <span class="table-cell col-sm-1 Checkboxes hidden"><input class="checkbox chklevelD  {{ dpage.secure == true ? 'disabled' : ''}}" type="checkbox" id="chk_{{ dpage._id }}" value="1" title="{{ dpage.title }}" (click)="_cmsService.listCheckboxCount('chk_'+dpage._id)" /> &nbsp; </span>
            <a (click)="_cmsService.listlink(dpage)"
               id="tabrowl_{{dpage._id}}"
               class="tabrowl table-cell mybuttonz col-sm-6 kid{{dpage.treelevel}} indent_4"
               title="{{ dpage.kids > 0 ? dpage.kids + ' items under ' + dpage.title : '' }}">
              {{dpage.title}}

<span *ngIf="dpage._id == _cmsService.pageSelected._id">
                <span *ngFor="let prop of _cmsService.filterFull;" class="">
                   <span *ngIf="dpage.parent != '5a3cf9378e89191f15ed348f'">{{ dpage.schemaextend[0][prop.pname] != undefined ? dpage.schemaextend[0][prop.pname] : '' }}</span>
                </span>
</span>
              <span class="float_r iconLetter" id="rowcell_{{dpage._id}}">{{dpage.kids > 0 ? dpage.kids : '0'}}</span>
            </a>
        </div>
        <app-cms-tablerowE [userlogin]="userlogin"
                           [currentPage]="dpage"
                           [cmsPages]="dpage.cmsSubPages"
                           [tableLevel]="(tableLevel+1)">
        </app-cms-tablerowE>
    </li>
</ul>
