<div *ngIf="items[0] != undefined" class="carousel">
  <ul class="carousel-inner">
    <li class="carousel-item carousel-images" id="carousel-images">
        <h2 class="center cursor">
          <span (click)="reloadImages();" class="icmn-loop3"></span>
          <span *ngIf="_userService.getUserLoggedIn() == true && _userService.user_current.userRole == 100" routerLink="/cms/{{ items[0]._id }}/true" class="icmn-pencil7"></span>
          <a title="Go to Mobile page" routerLink="/Personal/5ca885cce19d492df0898192">Mobile</a></h2>
        <a *ngIf="items[0].objectType == '5ca88677e19d492df0898193' || items[0].objectType == '5bf9d60fe2776742d80831e5'" title="Go to {{ items[0].title }}">
          <img src="/api/assets/content/{{items[0]._id}}/thumb.jpg" alt="{{items[0].title}}" class="carousel-image" (click)="fullscreenImage('/api/assets/content/'+items[0]._id +'/main.jpg')" />
        </a>
        <a *ngIf="items[0].objectType == '5c0114dc962a560534e3e576'" title="Go to {{ items[0].title }}">
          <video controls #dashboadmobileplayer preload="none" id="dashboardmobileplayer" (click)="fullscreenVideo('/api/assets/content/'+items[0]._id +'/main.mp4')">
            <source id="dashboardmobileplayersrc" src="/api/assets/content/{{items[0]._id}}/main.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </a>
        <div class="carousel-info">
          <h3 class="pointer" title="Go to {{ items[0].title }}" routerLink="/Personal/{{items[0].parent}}/{{items[0]._id}}">{{items[0].title}}</h3>
        </div>
    </li>
  </ul>
</div>
